
body
{
    background-color: #8a987b;
}

h1
{
    font-weight: lighter;
}
.stylebtn,.styleform,h1,.erreur
{
    text-align: center
}
.styleform
{
    padding-bottom: 2vh;
    padding-top:2vh;
    border: 1px solid black;
    margin-left:0.5vh;
    margin-right:0.5vh;
}
.erreur
{
    font-size: 25px;
    color: red;
    font-weight: bolder;
}
input
{
    margin-bottom: 1.5vh;
    margin-top:1vh
}
